@media screen and (max-width: 1440px) and (max-height: 800px) {
  .info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
  }
  
  nav a img {
    height: 30px;
    width: 30px;  
  }
  
  #logo {
    margin: 10px 0 0 20px;
  }
  
  #linkedin {
    margin-right: 5px;
  }
  
  #git {
    margin-right: 20px;
  }
  
  header h1 {
    font-size: 30px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
  }
  
  textarea {
    resize: none;
    outline: none;
    font-size: 25px;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding: 12px;
    border: none;
    color: #0A3871;
  }
  
  .input-txt {
    height: 450px;
    width: 650px;
  }
  
  .output-txt {
    position: relative;
    height: 510px;
    width: 400px;
  }
  
  #input-area {
    text-transform: lowercase;
  }
  
  #input-area::placeholder {
    text-transform: none;
  }
  
  #output-area {
    box-shadow: 2px 2px 2px black;
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  button {
    width: 200px;
    height: 40px;
    font-size: 20px;
    border-radius: 15px;
  }
  
  button:hover {
    transform: scale(1.05);
  }
  
  button:active {
    transform: scale(0.98);
  }
  
  #cripto {
    background-color: #0A3871;
    color: white;
  }
  
  #decripto, #copy {
    background-color: white;
    color: #0A3871;
    border-color: #0A3871;
  }
  
  .attention {
    display: flex;
    margin-top: 10px;
    gap: 5px;
  }
  
  .atention p {
    font-weight: bold;
    color: #495057;
  }
  
  .no-message {
    position: absolute;
    top: calc(50% - 139.60px);
    width: 424px;
    text-align: center;
  }
  
  #img-no-message {
    width: 250px;
  }
  
  .no-message h2 {
    font-size: 30px;
    color: #343A40;
  }
  
  .no-message p {
    font-size: 20px;
    color: #495057;
  }
  
  .no-message p+p {
    display: none;
  }
  
  .message {
    width: 420px;
    height: 45px;
    display: flex;
    position: relative;
    justify-content: center;
    top: -49px;
    background-color: white;
    border-radius: 15px;
  }
  
  .message button {
    position: absolute;
    top: calc(50% - 20px) ;
  }
}

@media screen and (max-width: 1440px) and (min-height: 801px) {
  .input-txt {
    margin: 50px 0 0 30px;
    width: 750px;
    height: 750px;
  }

  textarea {
    font-size: 35px;
  }

  .attention {
    gap: 15px;
  }

  .attention img {
    transform: scale(2);
  }

  .attention p {
    font-size: 30px;
  }

  button {
    width: 270px;
    height: 60px;
    font-size: 30px;
  }

  .output-txt {
    margin-top: 50px;
    height: 860px;
    width: 450px;
  }

  .no-message {
    top: calc(50% - 184.71px);
    width: 474px;
  }

  #img-no-message {
    width: 300px;
  }

  .no-message h2 {
    font-size: 45px;
  }

  .no-message p {
    font-size: 30px;
  }

  .message {
    width: 474px;
    height: 67px;
    top: -75px;
  }

  .message button {
    top: calc(50% - 30px);
  }
}

@media screen and (max-width: 768px) and (max-height: 1174px) {
  .input-txt {
    margin-top: 30px;
    width: 600px;
    height: 450px;
  }

  textarea {
    font-size: 35px;
  }

  .attention {
    gap: 15px;
  }

  .attention img {
    transform: scale(2);
  }

  .attention p {
    font-size: 28px;
  }

  button {
    width: 250px;
    height: 60px;
    font-size: 25px;
  }

  .output-txt {
    margin-top: 50px;
    height: 440px;
    width: 650px;
  }

  .no-message {
    top: calc(50% - 184.71px);
    width: 674px;
  }

  #img-no-message {
    width: 300px;
  }

  .no-message h2 {
    font-size: 35px;
  }

  .no-message p {
    font-size: 25px;
  }

  .no-message h2+p {
    display: none;
  }

  .no-message p+p {
    display: initial;
  }

  .message {
    width: 674px;
    height: 67px;
    top: -75px;
  }

  .message button {
    top: calc(50% - 30px);
  }
}

@media screen and (max-width: 500px) and (max-height: 900px) {
  header h1 {
    display: none;
  }

  nav a img {
    transform: scale(1.5);
    margin-top: 20px;
  }

  #linkedin {
    margin-right: 25px;
  }

  #git {
    margin-right: 20px;
  }

  .input-txt {
    margin: 30px 0 0 -10px;
    width: 320px;
    height: 270px;
  }

  textarea {
    font-size: 26px;
  }

  .attention {
    gap: 15px;
  }

  .attention img {
    transform: scale(1.3);
  }

  .attention p {
    font-size: 19px;
  }

  .buttons {
    flex-wrap: wrap;
    gap: 10px;
  }

  button {
    width: 300px;
    height: 60px;
    font-size: 25px;
  }

  .output-txt {
    margin: 130px 0 0 -10px;
    height: 200px;
    width: 320px;
  }

  .no-message {
    top: calc(50% - 47.5px);
    width: 344px;
  }

  #img-no-message {
    display: none;
  }

  .no-message h2 {
    font-size: 35px;
  }

  .no-message p {
    font-size: 25px;
  }

  .no-message h2+p {
    display: none;
  }

  .no-message p+p {
    display: initial;
  }

  .message {
    width: 344px;
    height: 67px;
    top: -75px;
  }

  .message button {
    top: calc(50% - 30px);
    width: 200px;
  }
}

@media screen and (max-width: 375px) and (max-height: 933px) {
  header h1 {
    display: none;
  }

  nav a img {
    transform: scale(1.5);
    margin-top: 20px;
  }

  #linkedin {
    margin-right: 25px;
  }

  #git {
    margin-right: 0;
  }

  .input-txt {
    margin-top: 10px;
    width: 320px;
    height: 350px;
  }

  textarea {
    font-size: 25px;
  }

  .attention {
    gap: 15px;
  }

  .attention img {
    transform: scale(1.3);
  }

  .attention p {
    font-size: 19px;
  }

  .buttons {
    flex-wrap: wrap;
    gap: 10px;
  }

  button {
    width: 300px;
    height: 60px;
    font-size: 25px;
  }

  .output-txt {
    margin-top: 130px;
    height: 260px;
    width: 320px;
  }

  .no-message {
    top: calc(50% - 47.5px);
    width: 344px;
  }

  #img-no-message {
    display: none;
  }

  .no-message h2 {
    font-size: 35px;
  }

  .no-message p {
    font-size: 25px;
  }

  .no-message h2+p {
    display: none;
  }

  .no-message p+p {
    display: initial;
  }

  .message {
    width: 344px;
    height: 67px;
    top: -75px;
  }

  .message button {
    top: calc(50% - 30px);
    width: 200px;
  }
}