body {
    font-family: 'Quicksand', sans-serif;
    background: #E5E5E5;
    overflow-y: hidden;
}

.logo {
    width: 30px;
    margin: 30px 0 0 50px;
}

.div-entrada {
    height: 565px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.caixadeentrada {
    resize: none;
    margin: -15px 0 0 150px;
    width: 600px;
    height: 370px;
    padding: 12px;
    border-radius: 15px;
    border: none;
    background: transparent;
    outline: none;
    color: #0A3871;
    font-size: 22px;
}

.caixadeentrada::placeholder {
    color: #0A3871;
}

.mensagem-vazia {
    background-color: white;
    margin: -40px 30px 0 0;
    border-radius: 25px;
    height: 570px;
    width: 440px;
    box-shadow: 3px 3px 3px 0 rgb(194, 176, 176);
}

.mensagem-vazia > h2 {
    font-size: 25px;
    color: #343A40;
    font-weight: bold;
    text-align: center;
}

.mensagem-vazia > p {
    font-size: 18px;
    color: #495057;
    text-align: center;
    margin-top: 5px;
}

.sem-mensagem {
    margin: 60px 0 0 70px;
}

.saida {
    position: absolute;
    margin: -600px 0 0 905px;
    visibility: hidden;
}

#saida {
    pointer-events: none;
}

.caixadesaida {
    resize: none;
    width: 400px;
    height: 470px;
    border: none;
    font-size: 20px;
    color: #495057;
    outline: none;
}

.saida > div > button {
    padding: 17px;
    width: 280px;
    font-size: 16px;
    border-radius: 35px;
    font-weight: bold;
    margin: 14px 0 0 68px;
    color: #0A3871;
    background: white;
    border-color: #0A3871;
}

.observacao {
    display: flex;
    margin: -180px 0 0 150px;
    font-size: 15px;
}

.observacao > img {
    margin-right: 6px;
    width: 19px;
}

.opcoes {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.codificar:hover, .decodificar:hover, .saida > div > button:hover {
    transform: scale(1.03);
}

.codificar:active, .decodificar:active, .saida > div > button:active {
    transform: scale(1);
}

.codificar, .decodificar {
    padding: 17px;
    width: 280px;
    font-size: 16px;
    border-radius: 35px;
    font-weight: bold;
}

.codificar {
    margin-left: 170px;
    background: #0A3871;
    color: #FFFFFF;
}

.decodificar {
    margin-right: 590px;
    background: #D8DFE8;
    color: #0A3871;
    border-color: #0A3871;
}

footer {
    margin-top: 25px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #343A40;
}

.informacao-final {
    display: flex;
    margin-left: 500px;
}

.github, .linkedin {
    width: 25px;
    margin-top: -2px;
}

.github {
    border-radius: 4px;
}

.linkedin {
    margin-left: 15px;
}

@media (min-width: 1440px) {

    body {
        overflow-y: auto;
    }

    .logo {
        width: 60px;
        margin: 30px 0 0 50px;
    }
    
    .div-entrada {
        height: 50vw;
    }
    
    .container {
        display: flex;
        justify-content: space-between;
    }
    
    .caixadeentrada {
        resize: none;
        margin: 20px 0 0 150px;
        width: 50vw;
        height: 40vw;
        padding: 12px;
        border-radius: 15px;
        border: none;
        background: transparent;
        outline: none;
        color: #0A3871;
        font-size: 35px;
    }
    
    .caixadeentrada::placeholder {
        color: #0A3871;
    }
    
    .mensagem-vazia {
        background-color: white;
        margin: -80px 30px 0 0;
        border-radius: 25px;
        height: 60vw;
        width: 440px;
        box-shadow: 3px 3px 3px 0 rgb(194, 176, 176);
    }
    
    .mensagem-vazia > h2 {
        font-size: 30px;
        color: #343A40;
        font-weight: bold;
        text-align: center;
    }
    
    .mensagem-vazia > p {
        font-size: 22px;
        color: #495057;
        text-align: center;
        margin-top: 5px;
    }
    
    .sem-mensagem {
        margin: 200px 0 0 70px;
    }
    
    .saida {
        position: absolute;
        margin: -920px 0 0 990px;
        visibility: hidden;
    }
    
    #saida {
        pointer-events: auto;
    }
    
    .caixadesaida {
        resize: none;
        width: 400px;
        height: 58vw;
        border: none;
        font-size: 30px;
        color: #495057;
        outline: none;
    }
    
    .saida > div > button {
        padding: 17px;
        width: 280px;
        font-size: 16px;
        border-radius: 35px;
        font-weight: bold;
        margin: 14px 0 0 68px;
        color: #0A3871;
        background: white;
        border-color: #0A3871;
    }
    
    .observacao {
        display: flex;
        margin: -220px 0 0 150px;
        font-size: 25px;
    }
    
    .observacao > img {
        margin-right: 6px;
        width: 29px;
    }
    
    .opcoes {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }
    
    .codificar:hover, .decodificar:hover, .saida > div > button:hover {
        transform: scale(1.03);
    }
    
    .codificar:active, .decodificar:active, .saida > div > button:active {
        transform: scale(1);
    }
    
    .codificar, .decodificar {
        padding: 22px;
        width: 330px;
        font-size: 30px;
        border-radius: 35px;
        font-weight: bold;
    }
    
    .codificar {
        margin-left: 170px;
        background: #0A3871;
        color: #FFFFFF;
    }
    
    .decodificar {
        margin-right: 590px;
        background: #D8DFE8;
        color: #0A3871;
        border-color: #0A3871;
    }
    
    footer {
        margin-top: 45px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: #343A40;
    }
    
    .informacao-final {
        display: flex;
        margin-left: 350px;
    }
    
    .github, .linkedin {
        width: 40px;
        margin-top: -2px;
    }
    
    .github {
        border-radius: 4px;
    }
    
    .linkedin {
        margin-left: 15px;
    }
}

@media (max-width: 768px) {

    .logo {
        width: 60px;
        margin: 80px 0 0 50px;
    }

    .div-entrada {
        width: 100vw;
    }

    .container {
        display: block;
    }

    .caixadeentrada {
        resize: none;
        margin: 50px 0 0 20px;
        width: 92vw;
        height: 50vw;
        padding: 12px;
        border-radius: 15px;
        border: none;
        background: transparent;
        outline: none;
        color: #0A3871;
        font-size: 50px;
    }

    .observacao {
        display: flex;
        margin: -445px 0 0 20px;
        font-size: 30px;
    }
    
    .observacao > img {
        margin-right: 6px;
        width: 30px;
    }    

    .opcoes {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .codificar, .decodificar {
        padding: 15px 30px 15px 30px;
        width: 40vw;
        font-size: 27px;
        border-radius: 35px;
        font-weight: bold;
    }
    
    .codificar {
        margin-left: 40px;
        background: #0A3871;
        color: #FFFFFF;
    }
    
    .decodificar {
        margin-right: 70px;
        background: #D8DFE8;
        color: #0A3871;
        border-color: #0A3871;
    }    

    .mensagem-vazia {
        background-color: white;
        margin: 65px 0 0 20px;
        border-radius: 25px;
        height: 40vw;
        width: 90vw;
        box-shadow: 0 7px 7px 7px rgb(182, 177, 177);
    }

    .sem-mensagem {
        display: none;
    }

    .mensagem-vazia > .first-h2 {
        padding-top: 75px;
    }

    .mensagem-vazia > h2 {
        font-size: 30px;
        color: #343A40;
        font-weight: bold;
        text-align: center;
    }
    
    .mensagem-vazia > p {
        font-size: 25px;
        color: #495057;
        text-align: center;
        margin-top: 5px;
    }

    .saida {
        display: block;
        margin: -300px 0 0 30px;
        visibility: hidden;
    }
    
    .caixadesaida {
        resize: none;
        width: 88vw;
        height: 30vw;
        border: none;
        border-radius: 15px;
        font-size: 30px;
        color: #495057;
        outline: none;
    }

    .saida > div > button {
        padding: 10px 25px 10px 25px;
        width: 40vw;
        font-size: 25px;
        border-radius: 35px;
        font-weight: bold;
        margin: 8px 0 0 180px;
        color: #0A3871;
        background: white;
        border-color: #0A3871;
        
    }    

    footer {
        margin-top: 340px;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        color: #343A40;
    }
    
    .informacao-final {
        display: flex;
        margin-left: 200px;
    }
    
    .github, .linkedin {
        width: 30px;
        margin-top: -2px;
    }
    
    .github {
        border-radius: 4px;
    }
    
    .linkedin {
        margin-left: 15px;
    }
}

@media (max-width: 700px) {
    .logo {
        width: 30px;
        margin: 20px 0 0 10px;
    }

    .caixadeentrada {
        resize: none;
        margin: 25px 0 0 5px;
        font-size: 32px;
        height: 90vw;
    }

    .observacao {
        display: flex;
        margin: -400px 0 0 10px;
        font-size: 17px;
    }
    
    .observacao > img {
        margin-right: 6px;
        width: 20px;
    }    

    .codificar, .decodificar {
        padding: 10px 20px 10px 20px;
        width: 40vw;
        font-size: 15px;
        border-radius: 35px;
        font-weight: bold;
    }
    
    .codificar {
        margin-left: 40px;
        background: #0A3871;
        color: #FFFFFF;
    }
    
    .decodificar {
        margin-right: 25px;
        background: #D8DFE8;
        color: #0A3871;
        border-color: #0A3871;
    }    

    .mensagem-vazia {
        background-color: white;
        margin: -70px 0 0 20px;
        border-radius: 25px;
        height: 80vw;
        width: 92vw;
        box-shadow: 0 7px 7px 7px rgb(182, 177, 177);
    }

    .sem-mensagem {
        position: absolute;
        display: flex;
        width: 200px;
        margin-top: 120px;
    }

    .mensagem-vazia > .first-h2 {
        padding-top: 35px;
    }

    .mensagem-vazia > h2 {
        font-size: 22px;
        color: #343A40;
        font-weight: bold;
        text-align: center;
    }
    
    .mensagem-vazia > p {
        font-size: 19px;
        color: #495057;
        text-align: center;
        margin-top: 5px;
    }

    .saida {
        display: block;
        margin: -300px 0 0 30px;
        visibility: hidden;
    }

    #saida {
        pointer-events:all;
    }

    .caixadesaida {
        resize: none;
        width: 88vw;
        height: 70vw;
        border: none;
        border-radius: 15px;
        font-size: 30px;
        color: #495057;
        outline: none;
    }

    .saida > div > button {
        padding: 5px 25px 5px 25px;
        width: 40vw;
        font-size: 20px;
        border-radius: 35px;
        font-weight: bold;
        margin: -8px 0 0 90px;
        color: #0A3871;
        background: white;
        border-color: #0A3871;
    }    

    footer {
        margin-top: 350px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: #343A40;
    }
    
    .informacao-final {
        display: flex;
        margin-left: 20px;
    }
    
    .github, .linkedin {
        width: 25px;
        margin-top: -2px;
    }
    
    .github {
        border-radius: 4px;
    }
    
    .linkedin {
        margin-left: 15px;
    }
}

@media (max-width: 500px) {
    .logo {
        width: 30px;
        margin: 20px 0 0 10px;
    }

    .caixadeentrada {
        resize: none;
        margin: 25px 0 0 5px;
        font-size: 32px;
        height: 70vw;
    }

    .observacao {
        display: flex;
        margin: -320px 0 0 10px;
        font-size: 17px;
    }
    
    .codificar {
        margin-left: 40px;
        background: #0A3871;
        color: #FFFFFF;
    }
    
    .decodificar {
        margin-right: 25px;
        background: #D8DFE8;
        color: #0A3871;
        border-color: #0A3871;
    }    

    .mensagem-vazia {
        background-color: white;
        margin: -100px 0 0 20px;
        border-radius: 25px;
        height: 50vw;
        width: 92vw;
        box-shadow: 0 7px 7px 7px rgb(182, 177, 177);
    }

    .sem-mensagem {
        display: none;
    }

    .mensagem-vazia > .first-h2 {
        padding-top: 35px;
    }

    .mensagem-vazia > h2 {
        font-size: 22px;
        color: #343A40;
        font-weight: bold;
        text-align: center;
    }
    
    .mensagem-vazia > p {
        font-size: 19px;
        color: #495057;
        text-align: center;
        margin-top: 5px;
    }

    .saida {
        display: block;
        margin: -200px 0 0 30px;
        visibility: hidden;
    }

    #saida {
        pointer-events:all;
    }

    .caixadesaida {
        resize: none;
        width: 88vw;
        height: 38vw;
        border: none;
        border-radius: 15px;
        font-size: 20px;
        color: #495057;
        outline: none;
    }

    .saida > div > button {
        padding: 5px 25px 5px 25px;
        width: 40vw;
        font-size: 20px;
        border-radius: 35px;
        font-weight: bold;
        margin: -1px 0 0 90px;
        color: #0A3871;
        background: white;
        border-color: #0A3871;
    }    

    footer {
        margin-top: 270px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: #343A40;
    }
    
    .informacao-final {
        display: flex;
        margin-left: 40px;
    }
}

@media (max-width: 400px) {
    .logo {
        width: 30px;
    }

    .caixadeentrada {
        resize: none;
        margin: 25px 0 0 5px;
        font-size: 22px;
        height: 50vw;
    }

    .observacao {
        display: flex;
        margin: -250px 0 0 10px;
        font-size: 12px;
    }

    .observacao > img {
        margin-right: 6px;
        width: 12px;
    }

    .codificar, .decodificar {
        padding: 10px 12px 10px 12px;
        font-size: 10px;
    }

    .codificar {
        margin-left: 20px;
    }
    
    .decodificar {
        margin-right: 17px;
    }    

    .mensagem-vazia {
        margin: -270px 0 0 20px;
        height: 60vw;
    }

    .sem-mensagem {
        display: none;
    }

    .mensagem-vazia > .first-h2 {
        padding-top: 35px;
    }

    .mensagem-vazia > h2 {
        font-size: 18px;
    }
    
    .mensagem-vazia > p {
        font-size: 14px;
    }

    .saida {
        margin: -150px 0 0 24px;
    }

    .caixadesaida {
        height: 39vw;
        font-size: 20px;
    }

    .saida > div > button {
        padding: 5px 25px 5px 25px;
        font-size: 10px;
        margin: 10px 0 0 70px;
    }    

    footer {
        margin-top: 200px;
        font-size: 12px;
    }
    
    .informacao-final {
        margin-left: 30px;
    }

    .github, .linkedin {
        width: 15px;
        margin-top: -2px;
    }
}